@page
@model eShopDashboard.Pages.Reports.CountriesModel
@{
    ViewData["Title"] = "Country Sales Forecast";
}

@if (Program.GetSeedingProgress() < 100)
{
    @Html.Partial("_Seeding.cshtml")
}

<div class="row">
    <div class="col-12 bg-highlight py-3 pl-md-4" style="color: white; font-size: 17pt; line-height: 1.25">
        @ViewData["Title"]
    </div>
</div>
<div class="row my-4">
    <div class="col pl-md-4" style="font-size: 12pt;">Choose a country</div>
    <div class="w-100 mx-3 border-bottom-highlight"></div>
</div>

<div class="row my-3">
    <div class="offset-1 col">
        <div class="list-inline button-bar" style="font-size: smaller;">
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('France')">France</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Germany')">Germany</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Italy')">Italy</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('EIRE')">Ireland</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Netherlands')">Netherlands</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Portugal')">Portugal</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Spain')">Spain</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('Sweden')">Sweden</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('United States')">U.S.</a>
            <a class="list-inline-item col-2 py-1" href="javascript:getCountryData('United Kingdom')">UK</a>
        </div>
    </div>
</div>
<div id="plot" class="row my-4 d-none">
    <div class="col pl-md-4" style="font-size: 12pt">
        <span id="labelItem" class="font-weight-bold">United Kingdom</span>  - Sales Forecast Prediction (Next month)
    </div>
    <div class="w-100 mx-3 border-bottom-highlight"></div>
    <div id="lineChart" class="col-12 col-sm-11 col-md-10 my-2 mx-auto responsive-plot" style="height: 355px;">
    </div>
</div>

<div id="tableHeader" class="row mt-4 d-none">
    <div class="col pl-md-4" style="font-size: 12pt">
        <span id="tableHeaderCaption" class="font-weight-bold">Sales month / $</span>
    </div>
    <div class="w-100 mx-3 border-bottom-highlight"></div>
</div>

<div id="tableHistory" class="row mb-5 d-none">
    <div class="offset-1 col-10 offset-md-2 col-md-4 mb-5 mb-md-0">
        <div id="historyTable" class="row" style="font-size: 8pt; margin-top: 12px;">
        </div>
    </div>
    <div class="offset-1 col-10 offset-md-2 col-md-3" style="font-size: 14pt; line-height: 1">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-5 col-md" style="line-height: 1.2">
                <div class="mt-0">
                    <span class="text-nowrap">Total</span><br />
                    <span id="labelTotal" class="text-nowrap" style="font-size: 13pt;"></span><br />
                    <span id="valueTotal" class="font-weight-bold" style="font-size: 27pt;">
                        11.426.930
                    </span>
                </div>
                <div class="mt-5">
                    <span class="font-weight-bold">Forecast</span><br />
                    <span id="labelForecast" class="text-nowrap" style="font-size: 13pt;"></span><br />
                    <span id="valueForecast" class="font-weight-bold es-color" style="font-size: 26pt;"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/js/plotly-basic.min.js"></script>
    <script type="text/javascript">
        $(function () {
            onLoadCountryForecasting();
        });
    </script>
}

