
@{
    ViewBag.Title = "Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><span class="glyphicon glyphicon-film"></span> Movie Recommender</h1>

<h1>That's as far as this gets today!</h1>


